{% extends "layout.html" %}

{% block content %}
    <h1>{{pageTitle}}</h1>
    <hr>

    <form role="form" action='/add/submit' method='post'>
      <div class="form-group">
        <label for="page_title">PAGE TITLE</label>
        <input type="text" class="form-control" name="title">
      </div>
      <div class="form-group">
        <label for="page_content">PAGE CONTENT</label>
        <textarea class="form-control" rows="3" name="body"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}
